@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



.profil-image {

  display: flex;
  width: 200px;
  text-align: center;
  opacity: 0.9;
  border: 4px solid #4e4949;
  border-radius: 10px;
  margin: 80px;


}

.profile-section {
  display: flex;
}
.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  padding: 80px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.993);
  
}

/* Responsive for mobile devices (max-width: 768px) */
@media (max-width: 768px) {
  .profil-image {
    display: inline;
    /* grid-template-columns: repeat(2, 1fr); */
    /* 2 columns on mobile */
  }
}

/* Responsive for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .profil-image {
    display: inline;
    /* grid-template-columns: repeat(1, 1fr); */
    /* 1 column on extra small screens */
  }
}

/* Responsive for mobile devices (max-width: 768px) */
@media (max-width: 768px) {
  .profile-section {
    display: inline;
    /* grid-template-columns: repeat(2, 1fr); */
    /* 2 columns on mobile */
  }
}

/* Responsive for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .profile-section {
    display: inline;
    /* grid-template-columns: repeat(1, 1fr); */
    /* 1 column on extra small screens */
  }
}