
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



.profil-image {
 
  display: flex;
  width: 200px;
  text-align: center;
  opacity: 0.9;
  border: 4px solid #4e4949;
  border-radius: 10px;
  margin: 80px;

  
}

