.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #fff; */
}

.contact-card {
    background-color: black;
    color: white;
    padding: 60px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.contact-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #facc15;
    padding: 5px;
}

.icon {
    color: #facc15;
    /* Yellow */
    font-size: 20px;
    margin-right: 10px;
}

.chat-icon {
    position: absolute;
    bottom: -35px;
    right: -15px;
    /* background-color: #facc15; */
    color: black;
    font-size: 50px;
    padding: 10px;
    border-radius: 50%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Zoom effect on hover */
.chat-icon:hover {
    transform: scale(2);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
}