.footer{
    background-color: #051b27;
    color: white;
    padding: 5px 0;
    text-align: center; 
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}
   